<div class="window">
  <div class="window-content">
    <div class="pane-group">
      <div class="pane-sm sidebar">
        <ul class="list-group">

          <li class="new note list-group-header">
            {{input type="text" placeholder='New Note Title' value=newNoteTitle}}
            <br>
            {{input type="text" placeholder='New Note Body' value=newNoteBody}}
            {{#if newNoteTitle}}<button{{action 'createNote'}}>Create</button>{{/if}}
          </li>
        </ul>
      <div class="note-list list-group-item">
        {{note-list notes=model}}
      </div>
    </div>

      <div class="pane">
        {{outlet}}
      </div>

    </div>

  </div>
</div>
